{% extends 'base.html.twig' %}

{% block title %}Hello AnnoncesController!{% endblock %}

{% block body %}
    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">city</th>
                <th scope="col">car year</th>
                <th scope="col">nb km</th>
                <th scope="col">nb days</th>
                <th scope="col">price</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.title }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>{{ annonce.city }}</td>
                    <td>{{ annonce.caryear }}</td>
                    <td>{{ annonce.nbkm }}</td>
                    <td>{{ annonce.nbdays }}</td>
                    <td>{{ annonce.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
